* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    background-color: #000;
}

.logo {
    width: 2rem;
}

.containerHeader {
    display: flex;
    width: 100vw;
    height: 50px;
    margin: 0 auto;
    padding: 0 10px;
    justify-content: space-between;
    align-items: center;
}

.containerLogo{
    display:flex;
    align-items: center;
    width: 150px;
}

h1 {
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: -0.19rem;
}

.icon {
    width: 1.5rem;
}

.containerIcons {
    display: flex;
    width: 150px;
    align-items: center;
    justify-content: space-between;
}

.menu {
    margin: 0 10px;
    overflow-x: auto;
    white-space: nowrap;
}

.menu::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    display: none;
    pointer-events: none;
}


.menuList {
    display: flex;
    list-style: none;
    align-items: center;
}

.menuList  img{
    width: 30px;
    background-color: rgb(43, 43, 43);
    border-radius: 3px;
}

a {
    margin-right: 10px;
    text-decoration: none;
    color: #fff;
    padding: 5px 10px;
    background-color: rgb(43, 43, 43);
    border-radius: 8px;
}

a:active {
    background-color: white;
    color: black;
}