* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    background-color: #000;
}

.logo {
    width: 2rem;
}

.containerHeader {
    display: flex;
    width: 100vw;
    height: 50px;
    margin: 0 auto;
    padding: 0 10px;
    justify-content: space-between;
    align-items: center;
}

.containerLogo{
    display:flex;
    align-items: center;
    width: 150px;
}

h1 {
    font-size: 1.5rem;
    font-family: 'Roboto', 'Arial', sans-serif;
    font-weight: 400;
    letter-spacing: -0.19rem;
}

.icon {
    width: 1.5rem;
}

.containerIcons {
    display: flex;
    width: 150px;
    align-items: center;
    justify-content: space-around;
}

.menu {
    margin: 0 10px;
    overflow-x: auto;
    white-space: nowrap;
}

.menu::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    display: none;
    pointer-events: none;
}

.menuList {
    display: flex;
    list-style: none;
    align-items: center;
}

.menuList  img{
    width: 25px;
}

.menuList button {
    display: flex;
    justify-content: center;
    margin-right: 10px;
    padding: 1px 10px;
    background-color: rgb(43, 43, 43);
    border-radius: 8px;
    border: none;
    box-shadow: none;
    outline: none;
}

a {
    margin-right: 10px;
    text-decoration: none;
    color: #fff;
    padding: 5px 10px;
    background-color: rgb(43, 43, 43);
    border-radius: 8px;
}

a:active {
    background-color: white;
    color: black;
}

.containerVideos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.containerVideo {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    width: 100%;
    height: 324px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.video {
    width: 100%;
    height: 80%;
}

.containerInfo {
    display: flex;
    padding: 10px;
}

.logoVideo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.containerInfoVideo {
    margin-left: 20px;
    letter-spacing: 3px;
}

.containerInfoVideo h2 {
    font-size: 1.2rem;
    font-weight: 400;
}

.containerInfoVideo p {
    font-size: 0.8rem;
    font-weight: 300;
    color: #606060;
}

.containerInfoVideo span {
    margin-top: 5px;
    font-size: 0.8rem;
    font-weight: 400;
    color: #fff;
}

.info {
    display: flex;
    margin-top: 5px;
    justify-content: space-between;
    align-items: center;
}

.info ul {
    margin-left: 5px;
    font-size: 0.7rem;
    font-weight: 300;
    color: #606060;
}

.containerShorts {
    display: flex;
    width: 100vw;
    margin-top: 40px;
}

.logoShorts {
    width: 100vw;
    margin-left: 10px;
    display: flex;
    align-items: center;
}

.logoShorts h2 {
    margin-left: 20px;
    font-size: 1.5rem;
    font-weight: 500;
}


.menuShorts {
    width: 20px;
}


