* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 480px;
    margin: 0 auto;   
    height: 100vh;
    margin: 0 10px;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    background-color: #000;
}

.logo {
    width: 2rem;
}

.containerHeader {
    display: flex;
    height: 50px;
    justify-content: space-between;
    align-items: center;
}

.containerLogo{
    display:flex;
    align-items: center;
    width: 150px;
}

h1 {
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: -0.19rem;
}

.icon {
    width: 1.5rem;
}

.containerIcons {
    display: flex;
    width: 150px;
    align-items: center;
    justify-content: space-between;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    background-color: green;
}

.menuList {
    display: flex;
    list-style: none;
}

.menuList a {
    text-decoration: none;
    color: #fff;
}

